<!-- shopping cart -->
<div class="cart">
    <div class="centre">
        <h1>Your Shopping Cart</h1>
        <img src="/media/shopping_trolley.png" alt="Shopping Trolley"/>
    </div>
    <div class="cart-empty centre" ng-if="data.cart.total == 0">
        No merchandise in your shopping cart yet
    </div>
    <div class="cart-items">
        <div class="cart-item" ng-repeat="item in data.cart.items">
            <div class="item-pic">
                <img src="/images/{{ item.sku }}.jpg"/>
            </div>
            <div class="centre">
                <h3>{{ item.name }}</h3>
            </div>
            <div class="unit-price price centre">{{ item.subtotal.toFixed(2) }} &euro;</div>
            <div class="item-qty centre">{{ item.qty }}</div>
            <div class="total-price price centre">{{ data.cart.total.toFixed(2) }} &euro;</div>
            <a href="#" class="centre">
                <img src="/media/cart_remove.png"/>
            </a>
        </div>
    </div>
</div>
