<!-- login / register -->
<div>
    <div class="message">
        {{ data.message }}
    </div>

    <div ng-if="data.user.name === undefined">
        <table class="credentials centre">
            <tr>
                <td><img src="/media/nuaware_shop_logo.png" class="logo" alt="nuaware merchandise shop"/></td>
            </tr>
            <tr>
                <td><input type="text" class="form-gap" placeholder="Name" size="20" ng-model="data.name"/></td>
            </tr>
            <tr>
                <td><input type="email" class="form-gap" placeholder="Email" size="20" ng-model="data.email"/></td>
            </tr>
            <tr>
                <td><input type="password" class="form-gap" placeholder="Password" size="20" ng-model="data.password"/></td>
            </tr>
            <tr>
                <td><input type="password" placeholder="Confirm Password" size="20" ng-model="data.password2"/></td>
            </tr>
            <tr>
                <td colspan="2" class="centre"><button class="login" ng-click="register();">Sign up</button></td>
            </tr>
        </table>
    </div>
</div>
