<!-- product list -->
<div class="products">
    <div class="product" ng-repeat="product in data.products">
        <div class="item-pic centre centre-y">
            <img src="/images/{{ product.sku }}.jpg"/>
        </div>
        <div>
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
        </div>
        <div>
            <div class="unit-price price">{{ product.price.toFixed(2) }} &euro;</div>
            <span ng-if="product.instock == 0">
                Out of stock
            </span>
            <button class="add-cart" ng-if="product.instock != 0" ng-click="addToCart();">Buy now</button>
        </div>
    </div>
</div>